.header-top-distance {
  margin-top: 85px;
}

.header__logo {
  margin-right: 318px;
}

.header__wrapper {
  justify-content: space-between;
  width: 100%;
}

.header__menu {
  justify-content: space-between;
  align-items: center;
  width: 653px;
  font-size: 25px;
  font-weight: 400;
}

.header__button {
  color: var(--white-color);
  font-size: 25px;
  background-color: #58a9a5;
  border-radius: 15px;
  width: 271px;
  height: 80px;
}
