.block-2__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 105px;
  text-align: center;
  margin-bottom: 20px;
}

.block-2__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
}
