.header-top-distance {
  margin-top: 85px;
}

.header {
  margin-bottom: 152px;
}

.header__logo {
  margin-right: 260px;
}

.header__wrapper {
  justify-content: space-between;
  width: 100%;
}

.header__menu {
  justify-content: space-between;
  align-items: center;
  width: 750px;
  font-size: 25px;
  font-weight: 400;
  color: var(--darkgray-color);
}

.header__menu-item {
  display: block;
  width: inherit;
  text-align: center;
  line-height: normal;
}

.header__menu-item:hover {
  color: var(--turquoise-color);
  font-weight: 700;
  transition-duration: 0.5s;
}

.header__menu-item:hover .header__menu-underline-elem {
  display: block;
  width: 50px;
  height: 6px;
  background-color: var(--underlines-color);
  margin: 0 auto;
  border-radius: 100px;
  transition-duration: 2s;
}

.header__button {
  color: var(--white-color);
  font-size: 25px;
  background-color: var(--turquoise-color);
  border-radius: 15px;
  width: 271px;
  height: 80px;
}
